* {
    padding: 0;
    margin: 0;
    background-color: rgb(64, 14, 201);
}
/* div onde está o h1  */
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(172, 232, 243);
    text-decoration: underline;
    background-color: rgb(64, 14, 201);
}
/* div aonde tá o h2  */
.mds{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(172, 232, 243);
    background-color: rgb(64, 14, 201);
    
}
.mds1{
    margin-top: 70px;
    text-decoration: underline;
}
h2{
    background-color: rgb(64, 14, 201);
}

