* {
    padding: 0;
    margin: 0;
    background-color: rgb(64, 14, 201);
    text-align: center;
}
/* div onde está o h1  */
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(172, 232, 243);
    text-decoration: underline;
    background-color: rgb(64, 14, 201);
}
/* div aonde tá o h2  */
.mds{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(172, 232, 243);
    background-color: rgb(64, 14, 201);
    
}
.mds1{
    width: 80%;
    margin-top: 70px;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h2{
    background-color: rgb(64, 14, 201);
}

.a{
    margin-top: 10px;
    text-align: center;
}

.botao{
    margin-top: 10px;
    margin-bottom:10px;
    width: 25rem;
}
.audio{
    width: 80%;
    margin-bottom: 10px;
}

.accordion-flush {
    margin-top: 10px;
}

.accordion-btn_download{
    text-decoration: none;
    color: rgb(172, 232, 243);
    border: 1px solid rgb(172, 232, 243);
    padding: 10px;
    text-decoration: underline 0px;
    border-radius: 10px;
    margin-bottom: 50px;
}
.accordion-btn_download:hover{
    opacity: 0.5;
    transition: 1s;
    color: white;
}
.btn-footer{
    color: #ACE8F3;
    font-size: 20px;
}
.btn-footer:hover{
    opacity: 0.5;
    transition: 0.5s;
    border: 1px solid white;
    color: rgb(172, 232, 243);
    padding: 5px;
}


a {
    text-decoration: none
}